autopep8==2.1.0
blurhash==1.1.4
certifi==2024.2.2
charset-normalizer==3.3.2
decorator==5.1.1
idna==3.7
Mastodon.py==1.8.1
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pillow==10.3.0
praw==7.7.1
prawcore==2.4.0
pycodestyle==2.11.1
pyenchant==3.2.2
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2024.1
requests==2.31.0
schedule==1.2.1
setuptools==69.5.1
six==1.16.0
tomli==2.0.1
update-checker==0.18.0
urllib3==2.2.1
websocket-client==1.8.0
