.container {
    display: grid;
    grid-template-columns: 520px 250px 300px;
   }

textarea {
    width: 600px;
    height: 500px;
  }

.Alt-Text-Input-Div {
  margin-left: 40px;
  width: 600px;
  height: 500px;
}

#Alt-Text-Div {
  height: 550px;
  overflow-y: scroll;
}